<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
	</serviceHostingEnvironment>
    
    <services>
      <service name="PlexServiceWCF:PlexServiceWCF.TrayInteraction" behaviorConfiguration="TrayInteractionBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="reliableNetTcpBinding" contract="PlexServiceCommon.Interface.ITrayInteraction"/>
        <!--<identity>
            <dns value="localhost" />
          </identity>-->
        <!--</endpoint>-->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8787/PlexService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TrayInteractionBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <dataContractSerializer maxItemsInObjectGraph="65536"/>
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="reliableNetTcpBinding" openTimeout="00:00:02" closeTimeout="00:00:02" sendTimeout="00:00:02" receiveTimeout="00:10:00">
          <reliableSession enabled="true" inactivityTimeout="00:05:00"/>
          <security mode="Transport" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
