<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PlexServiceWCF:PlexServiceWCF.TrayInteraction" behaviorConfiguration="TrayInteractionBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="PlexServiceCommon.Interface.ITrayInteraction"/>
          <!--<identity>
            <dns value="localhost" />
          </identity>-->
        <!--</endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8787/PlexService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TrayInteractionBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
</startup>
</configuration>
